{% extends 'index2.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

<div class="container">
    <h1>Welcome, {{ current_user.username }}</h1>
    <p>Email: {{ current_user.email }}</p>

    <img src="{{ current_user.profile_picture }}" alt="Profile Picture" id="uploadedImage">
    <form action="{{ url_for('routes.upload_portrait') }}" method="post" enctype="multipart/form-data">
        <label for="portrait">Update Profile Image:</label>
        <input type="file" id="portrait" name="portrait" accept=".jpg, .jpeg, .png">
        <button type="submit">Upload</button>
    </form>

    <div id="controls">
        <button type="button" onclick="zoomIn()">Zoom In</button>
        <button type="button" onclick="zoomOut()">Zoom Out</button>
    </div>
</div>

<script>
  var signupUrl = "{{ url_for('routes.signup') }}";
  var indexUrl = "{{ url_for('routes.index') }}";
  var loginUrl = "{{ url_for('routes.login') }}";
  var fileUploadUrl = "{{ url_for('routes.upload_portrait') }}";
  var isUserAuthenticated = "{{ is_authenticated|lower }}";

  const uploadedImage = document.getElementById('uploadedImage');
  let scale = 1;

  function zoomIn() {
      scale += 0.1;
      uploadedImage.style.transform = `scale(${scale})`;
  }

  function zoomOut() {
      scale = Math.max(0.1, scale - 0.1);
      uploadedImage.style.transform = `scale(${scale})`;
  }
</script>
{% endblock %}
